[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
pytz = "*"
sqlparse = "*"
psycopg2-binary = "*"
python-dotenv = "*"
install = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.12"
