# Ignore compiled Python files
*.pyc
__pycache__

# Ignore Django's settings file
myproject/settings.py

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore media files (uploaded by users)
media/

# Ignore static files (collected static files)
staticfiles/

# Ignore virtual environment
venv/

# Ignore .env file
.env
